@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

body {
  font-family: "TT Norms", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #FFF;
  color: #000;
}
body::-webkit-scrollbar {
  display: none;
}

button,
input,
select,
textarea {
  font-family: "TT Norms", sans-serif;
  font-weight: 500;
  color: #000;
}

.sec-title {
  color: #6B7683;
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  position: relative;
  z-index: 1;
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .sec-title {
    font-size: 30px;
  }
}
.sec-title span:not(.icon) {
  position: relative;
}
.sec-title span:not(.icon)::before {
  content: "";
  border: 2px solid #01ABD3;
  border-radius: 10px;
  position: absolute;
  left: -3%;
  top: 6%;
  width: 106%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .sec-title span:not(.icon)::before {
    height: 130%;
    top: -10%;
    width: 102%;
    left: -2%;
  }
}
.sec-title .icon {
  position: absolute;
  font-size: 25px;
  color: #01ABD3;
  line-height: 100%;
  font-weight: 500;
  bottom: 45px;
  right: -15px;
  transform: translateX(100%);
}
@media screen and (max-width: 992px) {
  .sec-title .icon {
    font-size: 12px;
    right: -15px;
    bottom: 21px;
  }
}
.sec-description {
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .sec-description {
    font-size: 12px;
  }
}

.btn-lightblue {
  padding: 13px 45px;
  background: #C2E6F3;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .btn-lightblue {
    padding: 13px 35px;
    font-size: 12px;
  }
}
.btn-lightblue:hover {
  background: #A2D8EB;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 5px;
}
.breadcrumbs a,
.breadcrumbs span,
.breadcrumbs li {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.6px;
}
@media screen and (max-width: 993px) {
  .breadcrumbs a,
  .breadcrumbs span,
  .breadcrumbs li {
    font-size: 14px;
    line-height: 14px;
  }
}
.breadcrumbs a {
  color: #6C6C6C;
}
.breadcrumbs span,
.breadcrumbs li {
  color: #A2A2A2;
}

.main_title {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #6B7683;
}
@media screen and (max-width: 993px) {
  .main_title {
    font-size: 30px;
    line-height: 30px;
  }
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}
@media screen and (max-width: 1370px) {
  .container {
    max-width: calc(100% - 60px);
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: calc(100% - 30px);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background: #FFF;
}
.header.other .header__bottom {
  display: none;
}
@media screen and (max-width: 1070px) {
  .header.active {
    height: 100%;
  }
}
.header__top {
  background: #EBF6FB;
  position: relative;
  z-index: 2;
}
.header__top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}
@media screen and (max-width: 1070px) {
  .header__top .container {
    padding: 0;
    height: 60px;
  }
}
.header__left {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media screen and (max-width: 1100px) {
  .header__left {
    gap: 30px;
  }
}
@media screen and (max-width: 1070px) {
  .header__left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 0px;
  }
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
@media screen and (max-width: 1070px) {
  .header__logo {
    gap: 1.84px;
  }
}
.header__logo img {
  flex-shrink: 0;
  width: 97px;
}
@media screen and (max-width: 1070px) {
  .header__logo img {
    width: 59.58px;
  }
}
.header__logo span {
  font-size: 7.65px;
  color: #656565;
  text-transform: uppercase;
}
@media screen and (max-width: 1070px) {
  .header__logo span {
    font-size: 4.7px;
  }
}
.header__navs {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1070px) {
  .header__navs {
    display: none;
  }
}
.header__navs a {
  font-size: 16px;
  line-height: 120%;
}
.header__navs a:hover, .header__navs a.active {
  color: #01ABD3;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__right a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 120%;
  color: #656565;
  position: relative;
}
@media screen and (max-width: 1070px) {
  .header__right a {
    gap: 0px;
  }
}
@media screen and (max-width: 1070px) {
  .header__right a img {
    width: 21px;
  }
}
@media screen and (max-width: 1070px) {
  .header__right a span:not(.number) {
    display: none;
  }
}
.header__right a .number {
  position: absolute;
  left: 16px;
  bottom: -1px;
  font-size: 8px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -15%;
  color: #FFF;
  background: #01ABD3;
  border-radius: 30px;
  padding: 1px 3px 1px 4px;
}
@media screen and (min-width: 1070px) {
  .header__right a .number {
    display: none;
  }
}
.header__bottom {
  transition: 0.3s ease all;
  position: relative;
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  background: #FFF;
}
.header__bottom.hide {
  transform: translateY(-100%);
}
.header__bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 29px 0;
}
@media screen and (max-width: 992px) {
  .header__bottom .container {
    padding: 15px 0;
  }
}
@media screen and (max-width: 992px) {
  .header__bottom_left {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .header__bottom_left.active .header__filter-btn {
    display: none;
  }
  .header__bottom_left.active .header__search_inp input {
    width: 150px;
    display: block;
    height: 30px;
    border-color: rgba(107, 118, 131, 0.3);
    padding: 0 8px;
    font-size: 12px;
  }
  .header__bottom_left.active .header__search_inp button {
    position: absolute;
    border: 0;
    width: 16px;
    height: 16px;
    top: 50%;
    right: 7px;
    left: auto;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__bottom_left.active .header__search_inp button:nth-child(2) {
    display: none;
  }
}
.header__filter-btn {
  display: inline-flex;
  align-items: center;
  padding: 4px 20px 5px 10px;
  border: 1px solid #000000;
  border-radius: 25px;
  gap: 9px;
  font-size: 16px;
  line-height: 120%;
}
@media screen and (max-width: 992px) {
  .header__filter-btn {
    border-color: #6B7683;
    height: 30px;
    padding: 4px 14px 4px 12px;
    gap: 8px;
    font-size: 12px;
  }
}
.header__filter-btn img {
  width: 26px;
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .header__filter-btn img {
    width: 20px;
  }
}
.header__search {
  position: relative;
}
@media screen and (min-width: 992px) {
  .header__search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.header__search_inp {
  position: relative;
}
.header__search_inp input {
  border: 1px solid #000000;
  border-radius: 25px;
  height: 35px;
  width: 360px;
  padding: 0 17px;
  color: #000;
  font-size: 16px;
  line-height: 120%;
}
@media screen and (max-width: 992px) {
  .header__search_inp input {
    display: none;
  }
}
.header__search_inp input::-moz-placeholder {
  color: #6B7683;
}
.header__search_inp input::placeholder {
  color: #6B7683;
}
.header__search_inp button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__search_inp button:last-child {
  display: none;
}
@media screen and (max-width: 992px) {
  .header__search_inp button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #6B7683;
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    transform: translate(0);
  }
  .header__search_inp button img {
    width: 16px;
  }
}
.header__search_list {
  border: 1px solid rgba(217, 217, 217, 0.2);
  background: #FFF;
  box-shadow: 2px 4px 24px rgba(107, 118, 131, 0.1);
  border-radius: 5px;
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 299px;
  transform: translateY(100%);
  padding: 20px;
  display: none;
}
@media screen and (max-width: 992px) {
  .header__search_list {
    padding: 12px 10px;
    width: 209px;
  }
}
.header__search_list.active {
  display: block;
}
.header__search_list .icon {
  position: absolute;
  top: 0;
  left: 33px;
  transform: translateY(-100%);
}
.header__search_list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .header__search_list ul {
    gap: 5px;
  }
}
.header__search_list li {
  width: 100%;
}
.header__search_list a {
  font-size: 16px;
  line-height: 120%;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .header__search_list a {
    font-size: 12px;
  }
}
.header__link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__link a {
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .header__link a {
    font-size: 11px;
  }
}
.header__link span {
  font-size: 14px;
  line-height: 110%;
  color: #6B7683;
}
@media screen and (max-width: 992px) {
  .header__link span {
    font-size: 8px;
    margin-top: 3px;
  }
}
@media screen and (min-width: 1070px) {
  .header .bars {
    display: none !important;
  }
}
.header .bars img:nth-child(2) {
  display: none;
}
.header .bars.active img {
  display: none;
}
.header .bars.active img:nth-child(2) {
  display: block;
}
.header .mobile-menu {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  background: white;
  z-index: 3;
  display: none;
}
@media screen and (max-width: 1070px) {
  .header .mobile-menu.active {
    display: block;
  }
}
.header .mobile-menu__content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 30px 30px;
  gap: 20px;
}
.header .mobile-menu__content_top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header .mobile-menu__content_top__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #000;
}
.header .mobile-menu__content_top ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0 5px;
}
.header .mobile-menu__content_top ul a {
  font-size: 14px;
  line-height: 110%;
  font-weight: 500;
  color: #656565;
  display: flex;
  align-items: center;
  gap: 12px;
}
.header .mobile-menu__content_bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header .mobile-menu__content_bottom .phone-link {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}
.header .mobile-menu__content_bottom .phone-link a {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #000;
}
.header .mobile-menu__content_bottom .phone-link p {
  color: #6B7683;
  font-size: 12px;
  font-weight: 500;
  line-height: 110%;
}
.header .mobile-menu__content_bottom ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.category {
  padding-top: 261px;
}
@media screen and (max-width: 992px) {
  .category {
    padding-top: 135px;
  }
}
.category__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .category__title {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 15px;
  }
}
.category__card {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 120px;
}
@media screen and (max-width: 992px) {
  .category__card {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin-bottom: 80px;
  }
}
.category__card li {
  height: 400px;
  background: #D9D9D9;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .category__card li {
    padding: 10px;
    height: 220px;
  }
}
.category__card h3 {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .category__card h3 {
    font-size: 16px;
  }
}
.category__card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.category .text-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media screen and (max-width: 992px) {
  .category .text-card {
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 992px) {
  .category .text-card img {
    width: 49px;
    height: 49px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.category .text-card li {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 992px) {
  .category .text-card li {
    gap: 11px;
  }
}
.category .text-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .category .text-card h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }
}
.category .text-card p {
  font-size: 16px;
  line-height: 120%;
}
@media screen and (max-width: 992px) {
  .category .text-card p {
    font-size: 12px;
  }
}

.order {
  padding-top: 130px;
  margin-bottom: 120px;
}
@media screen and (max-width: 992px) {
  .order {
    padding-top: 83px;
    margin-bottom: 54px;
  }
}
.order__title {
  margin-bottom: 22px;
}
@media screen and (max-width: 992px) {
  .order__title {
    margin-bottom: 15px;
  }
}
.order__description {
  max-width: 575px;
  margin-bottom: 13px;
}
@media screen and (max-width: 992px) {
  .order__description {
    margin-bottom: 30px;
  }
}
.order__card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}
@media screen and (max-width: 992px) {
  .order__card {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.order__card li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
@media screen and (max-width: 992px) {
  .order__card li div {
    width: calc(50% - 5px) !important;
  }
}
.order__card .big-card {
  width: calc(100% - 210px);
  flex-shrink: 0;
}
.order__card .small-card {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.order__card .small-card a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 120%;
  color: #6B7683;
}
@media screen and (max-width: 992px) {
  .order__card .small-card a {
    font-size: 12px;
    gap: 4px;
  }
  .order__card .small-card a svg {
    width: 12px;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .order__card .small-card h3 {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 5px;
    color: #01ABD3;
  }
}
.order__card .main-img {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .order__card .main-img {
    margin-bottom: 5px;
    height: auto;
    aspect-ratio: 1/1;
    max-height: 290px;
  }
}
.order__card h3 {
  font-size: 20px;
  font-weight: 500;
  color: #6B7683;
}
@media screen and (max-width: 992px) {
  .order__card h3 {
    font-size: 12px;
  }
}

.discount {
  background: #EBEEEF;
  padding: 60px 0;
}
@media screen and (max-width: 992px) {
  .discount {
    padding: 40px 0;
  }
}
.discount__title {
  color: #6B7683;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  max-width: 441px;
  margin: 0 auto 11px;
}
@media screen and (max-width: 992px) {
  .discount__title {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 11px;
  }
}
.discount__title b {
  color: #01ABD3;
  font-weight: 500;
}
.discount ul {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 1090px;
  margin: 0 auto 30px;
}
@media screen and (max-width: 992px) {
  .discount ul {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px;
  }
}
.discount ul .main-img {
  height: 360px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  .discount ul .main-img {
    margin-bottom: 5px;
    height: 160px;
  }
}
.discount ul h4 {
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .discount ul h4 {
    font-size: 12px;
  }
}
.discount .more-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example {
  padding-top: 120px;
  margin-bottom: 133px;
}
@media screen and (max-width: 992px) {
  .example {
    padding-top: 58px;
    margin-bottom: 134px;
  }
}
.example__title {
  margin-bottom: 52px;
}
@media screen and (max-width: 992px) {
  .example__title {
    margin-bottom: 30px;
    display: inline;
  }
}
.example__card {
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 30px;
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .example__card {
    padding-top: 30px;
    gap: 10px;
  }
}
.example__card .main-img {
  height: 260px;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .example__card .main-img {
    height: 180px;
    margin-bottom: 5px;
  }
}
.example__card h4 {
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .example__card h4 {
    font-size: 12px;
  }
}
.example__card p {
  font-size: 14px;
  line-height: 110%;
  color: #6B7683;
  font-weight: 500;
  margin-bottom: 7px;
}
@media screen and (max-width: 992px) {
  .example__card p {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
.example__card h3 {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .example__card h3 {
    font-size: 16px;
  }
}
.example__card .hover-text {
  position: absolute;
  top: 220px;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .example__card .hover-text {
    top: 145px;
  }
}
.example__card h5 {
  font-size: 20px;
  font-weight: 500;
  color: #6B7683;
  margin-bottom: 1px;
}
@media screen and (max-width: 992px) {
  .example__card h5 {
    font-size: 16px;
    color: #01ABD3;
    margin-bottom: 5px;
  }
}
.example__card a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  line-height: 110%;
  color: #6B7683;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .example__card a {
    font-size: 12px;
    gap: 8px;
  }
  .example__card a svg {
    height: auto;
    width: 12px;
  }
}
.example__card li {
  position: relative;
  z-index: 1;
}
.example__card li .hover-text {
  display: none;
}
.example__card li:hover .main-img, .example__card li:hover h4, .example__card li:hover p, .example__card li:hover h3 {
  opacity: 0;
}
.example__card li:hover .hover-text {
  display: block;
}
@media screen and (min-width: 1160px) {
  .example__card li:nth-child(1), .example__card li:nth-child(7) {
    width: 210px;
  }
  .example__card li:nth-child(3), .example__card li:nth-child(2), .example__card li:nth-child(6), .example__card li:nth-child(8) {
    width: 155px;
  }
  .example__card li:nth-child(5), .example__card li:nth-child(4) {
    width: calc(25% - 7.5px);
  }
  .example__card li:nth-child(9) {
    width: 158px;
  }
  .example__card li:nth-child(10) {
    width: 372px;
  }
}
@media screen and (max-width: 1160px) {
  .example__card li {
    width: calc(50% - 5px);
  }
}
.example .more-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
@media screen and (min-width: 1160px) {
  .example .more-link {
    display: none;
  }
}

.brand {
  padding-bottom: 62px;
}
@media screen and (max-width: 992px) {
  .brand {
    padding-bottom: 66px;
  }
}
.brand__title {
  margin-bottom: 55px;
}
@media screen and (max-width: 992px) {
  .brand__title {
    display: inline;
  }
}
.brand ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .brand ul {
    flex-wrap: wrap;
    gap: 35px 20px;
    padding-top: 30px;
  }
}
.brand ul img:not(:hover) {
  filter: brightness(0) invert(0.4);
}
@media screen and (max-width: 992px) {
  .brand ul li {
    width: calc(50% - 10px);
    text-align: center;
  }
}

.return_exchange {
  padding-top: 200px;
}
@media screen and (max-width: 992px) {
  .return_exchange {
    padding-top: 135px;
  }
}
.return_exchange .main_title {
  margin-top: 60px;
}
@media screen and (max-width: 993px) {
  .return_exchange .main_title {
    margin-top: 30px;
  }
}
.return_exchange_in {
  padding: 30px 0 60px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 190px;
  align-items: start;
}
@media screen and (max-width: 993px) {
  .return_exchange_in {
    gap: 30px;
    padding: 20px 0 60px 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
.return_exchange_block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.return_exchange h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.6px;
  color: #6B7683;
  padding: 3px 10px;
  border: 2px solid #01ABD3;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 993px) {
  .return_exchange h6 {
    padding: 8px 18px;
    font-size: 16px;
    line-height: 16px;
  }
}
.return_exchange p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #656565;
}
@media screen and (max-width: 993px) {
  .return_exchange p {
    font-size: 12px;
    line-height: 14px;
  }
}

.delivery_payment {
  padding-top: 200px;
}
@media screen and (max-width: 992px) {
  .delivery_payment {
    padding-top: 135px;
  }
}
@media screen and (max-width: 993px) {
  .delivery_payment .main_title {
    margin-bottom: 20px;
  }
}
.delivery_payment_in {
  margin: 60px 0;
  display: grid;
  gap: 120px;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 993px) {
  .delivery_payment_in {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 32px 0 60px 0;
  }
}
.delivery_payment_left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 993px) {
  .delivery_payment_left {
    gap: 0;
  }
}
.delivery_payment_right {
  border-radius: 5px;
  overflow: hidden;
  background: #D9D9D9;
  position: relative;
}
@media screen and (max-width: 993px) {
  .delivery_payment_right {
    height: 220px;
    width: 100%;
  }
}
.delivery_payment_right svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 993px) {
  .delivery_payment_right svg {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 993px) {
  .delivery_payment .one_block {
    margin-bottom: 30px;
  }
}
.delivery_payment h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.6px;
  color: #6B7683;
  padding: 3px 10px;
  border: 2px solid #01ABD3;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 15px;
}
@media screen and (max-width: 993px) {
  .delivery_payment h6 {
    padding: 8px 18px;
    font-size: 16px;
    line-height: 16px;
  }
}
.delivery_payment p,
.delivery_payment span,
.delivery_payment h5,
.delivery_payment li {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #656565;
}
@media screen and (max-width: 993px) {
  .delivery_payment p,
  .delivery_payment span,
  .delivery_payment h5,
  .delivery_payment li {
    font-size: 12px;
    line-height: 14px;
  }
}
.delivery_payment h5 {
  color: #000000;
}
@media screen and (max-width: 993px) {
  .delivery_payment h5 {
    margin: 15px 0;
  }
}
@media screen and (max-width: 993px) {
  .delivery_payment_text {
    margin-bottom: 15px;
  }
}
.delivery_payment ol {
  padding-left: 20px;
}
.delivery_payment ol li {
  list-style-type: disc;
  color: #656565;
}
.delivery_payment_phone {
  margin-top: 4px;
  width: -moz-max-content;
  width: max-content;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #000000;
  padding-bottom: 5px;
  border-bottom: 1px solid #6B7683;
}

.contact {
  padding-top: 200px;
}
@media screen and (max-width: 992px) {
  .contact {
    padding-top: 135px;
  }
}
.contact .main_title {
  margin-top: 60px;
}
@media screen and (max-width: 993px) {
  .contact .main_title {
    margin-top: 30px;
  }
}
.contact_in {
  margin: 52px 0 90px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}
@media screen and (max-width: 993px) {
  .contact_in {
    margin: 20px 0;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.contact_block_imgs {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media screen and (max-width: 993px) {
  .contact_block_imgs {
    margin-top: 20px;
  }
}
.contact_block_img {
  border-radius: 5px;
  background: #D9D9D9;
  overflow: hidden;
}
.contact_block_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact_block ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact_block h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.6px;
  color: #000000;
}
@media screen and (max-width: 993px) {
  .contact_block h6 {
    font-size: 16px;
    line-height: 16px;
  }
}
.contact_block a,
.contact_block address,
.contact_block span {
  display: flex;
  align-items: start;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #656565;
}
@media screen and (max-width: 993px) {
  .contact_block a,
  .contact_block address,
  .contact_block span {
    font-size: 12px;
    line-height: 14px;
  }
}
.contact_block address {
  min-height: 57px;
}
.contact_block svg {
  flex-shrink: 0;
}
@media screen and (max-width: 993px) {
  .contact_block svg {
    width: 18px;
    height: 18px;
  }
}
.contact_map {
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  background: #D9D9D9;
  position: relative;
  margin-bottom: 60px;
}
@media screen and (max-width: 993px) {
  .contact_map {
    height: 220px;
    width: 100%;
  }
}
.contact_map svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 993px) {
  .contact_map svg {
    width: 50px;
    height: 50px;
  }
}

.footer {
  background: #465464;
  padding: 60px 0;
}
@media screen and (max-width: 993px) {
  .footer {
    padding: 30px 0 15px 0;
  }
}
.footer_left {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 993px) {
  .footer_left {
    flex-direction: column-reverse;
  }
}
.footer h6 {
  font-family: "TT Norms", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.6px;
  color: #FFFFFF;
}
@media screen and (max-width: 993px) {
  .footer h6 {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    line-height: 16px;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px 146px;
}
@media screen and (max-width: 1200px) {
  .footer .container {
    gap: 36px 50px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 993px) {
  .footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer_logo {
  width: 345px;
  margin-top: 105px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
@media screen and (max-width: 993px) {
  .footer_logo {
    gap: 2px;
    width: 150px;
    margin-top: 0;
    margin: 0 auto;
  }
}
.footer_logo img {
  width: 345px;
}
@media screen and (max-width: 993px) {
  .footer_logo img {
    width: 150px;
  }
}
.footer_logo span {
  font-family: "TT Norms", sans-serif;
  font-size: 27px;
  font-weight: 500;
  line-height: 32.4px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}
@media screen and (max-width: 993px) {
  .footer_logo span {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 993px) {
  .footer_contact {
    margin-top: 30px;
  }
}
.footer_contact_in {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
}
@media screen and (max-width: 993px) {
  .footer_contact_in {
    gap: 10px;
    margin-top: 15px;
  }
}
.footer_contact_block {
  display: flex;
  align-items: start;
  gap: 15px;
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.4px;
  color: #FFFFFF;
}
@media screen and (max-width: 993px) {
  .footer_contact_block {
    font-size: 9px;
    line-height: 9.5px;
    gap: 5px;
  }
}
.footer_contact_block svg {
  flex-shrink: 0;
}
@media screen and (max-width: 993px) {
  .footer_contact_block svg {
    width: 10px;
    height: 10px;
    opacity: 0.4;
  }
}
.footer form {
  margin-top: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
@media screen and (max-width: 993px) {
  .footer form {
    padding: 13px 15px;
  }
}
.footer form input {
  width: 100%;
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.4px;
  color: #FFFFFF;
}
@media screen and (max-width: 993px) {
  .footer form input {
    font-size: 8px;
    line-height: 8px;
  }
}
.footer form input::-moz-placeholder {
  color: #FFFFFF;
}
.footer form input::placeholder {
  color: #FFFFFF;
}
.footer form button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 993px) {
  .footer form button svg {
    width: 12px;
    height: 6px;
  }
}
.footer_links {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer_link ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}
@media screen and (max-width: 993px) {
  .footer_link ul {
    gap: 10px;
  }
}
.footer_link ul li {
  display: flex;
  align-items: center;
}
.footer_link a {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.4px;
  color: #FFFFFF;
}
@media screen and (max-width: 993px) {
  .footer_link a {
    font-size: 9px;
    line-height: 9px;
  }
}
.footer_social {
  margin: 71px 0 58px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 993px) {
  .footer_social {
    margin: 23px 0 38px 0;
    gap: 15px;
  }
}
.footer_social a svg path {
  transition: 0.2s ease;
}
@media screen and (max-width: 993px) {
  .footer_social .whatsapp svg {
    width: 20px;
    height: 20px;
  }
}
.footer_social .whatsapp:hover svg path {
  fill: #2CB472;
}
@media screen and (max-width: 993px) {
  .footer_social .telegram svg {
    width: 20px;
    height: 20px;
  }
}
.footer_social .telegram:hover svg path {
  fill: #0088CC;
}
@media screen and (max-width: 993px) {
  .footer_social .mail svg {
    width: 24px;
    height: 24px;
  }
}
.footer_social .mail:hover svg path {
  fill: #465464;
}
.footer_bottom {
  position: relative;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 35px;
}
@media screen and (max-width: 993px) {
  .footer_bottom {
    padding-right: 0;
  }
}
.footer_bottom span,
.footer_bottom li {
  font-family: "TT Norms", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  color: #FFFFFF;
}
@media screen and (max-width: 993px) {
  .footer_bottom span,
  .footer_bottom li {
    font-size: 8px;
    line-height: 8.8px;
    opacity: 0.4;
  }
}
.footer_up {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 993px) {
  .footer_up {
    width: 24px;
    height: 24px;
    left: 0;
    right: auto;
    bottom: 27px;
  }
}
@media screen and (max-width: 993px) {
  .footer_up svg {
    width: 6px;
    height: 10px;
  }
}

.product {
  padding: 130px 0 79px;
}
.product__head {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 25px;
  margin-bottom: 15px;
}
.product__head .card {
  height: 560px;
  position: relative;
  z-index: 1;
}
.product__head .card .main-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.product__head .card .zoom {
  position: absolute;
  width: 43px;
  height: 43px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  bottom: 11px;
  background: #FFF;
}
.product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__content .breadcrumb {
  font-size: 20px;
  font-weight: 500;
  color: #A2A2A2;
  margin-bottom: 30px;
}
.product__content .breadcrumb a {
  display: inline;
}
.product__content .breadcrumb span {
  display: inline;
  color: #656565;
}
.product__content .title {
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 5px;
}
.product__content .available {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 110%;
  color: #656565;
  margin-bottom: 29px;
  font-weight: 500;
}
.product__content .available-error {
  color: #FF7171;
}
.product__content .description {
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  margin-bottom: 8px;
}
.product__content .subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 110%;
  color: #656565;
  margin-bottom: 30px;
}
.product__content .price {
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  color: #6B7683;
  letter-spacing: -0.4px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}
.product__content .price span {
  font-size: 16px;
  line-height: 120%;
  padding-bottom: 4px;
}
.product__content .pay-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 110%;
  font-weight: 500;
  color: #6B7683;
  background: #EBF6FB;
  border-radius: 5px;
  padding: 11px 16px 11px 15px;
}
.product__content .quantitiy {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.product__content .quantitiy_top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product__content .quantitiy_top h4 {
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  color: #656565;
}
.product__content .quantitiy_top .calculate {
  display: flex;
  align-items: center;
  border: 1px solid #656565;
  border-radius: 2px;
}
.product__content .quantitiy_top .calculate p {
  font-size: 14px;
  font-weight: 500;
  line-height: 110%;
  color: #656565;
  padding: 0 6px;
  flex-shrink: 0;
}
.product__content .quantitiy_top .calculate button {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  flex-shrink: 0;
}
.product__content_bottom {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.product__content_bottom .like {
  width: 45px;
  height: 45px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.product__content_bottom .like.active svg path {
  fill: #6B7683;
}
.product__body {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.product__body_left ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  margin-bottom: 15px;
}
.product__body_left ul img {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.product__body_left ul p {
  color: #656565;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 120%;
}
.product__body_left .more-link {
  color: #656565;
  font-size: 14px;
  line-height: 120%;
  text-decoration: underline;
}
.product__body_right {
  padding-top: 35px;
}
.product__body_right .accordion_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: #6B7683;
  border-bottom: 1px solid rgba(107, 118, 131, 0.5);
}
.product__body_right .accordion_body .text-wrap {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product__body_right .accordion_body .text-wrap p {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #656565;
}
.product__body_right .accordion_body .characteristic {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0;
}
.product__body_right .accordion_body .characteristic li {
  display: flex;
  align-items: center;
}
.product__body_right .accordion_body .characteristic h4 {
  width: 238px;
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  color: #6B7683;
}
.product__body_right .accordion_body .characteristic p {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #656565;
}
.product__body_right .accordion_body .care {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px 50px;
  padding: 20px 0;
}
.product__body_right .accordion_body .care li {
  display: flex;
  align-items: center;
}
.product__body_right .accordion_body .care .main-img {
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.product__body_right .accordion_body .delivery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
.product__body_right .accordion_body .delivery li {
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  color: #656565;
}
.product__body_right .accordion_body .delivery a {
  display: inline;
  text-decoration: underline;
}

.anons {
  padding-bottom: 60px;
}
.anons__title {
  font-size: 25px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.anons__swp {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
.anons__swp button {
  position: absolute;
  top: 168px;
  z-index: 2;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #656565;
  border-radius: 5px;
}
.anons__swp_prev {
  left: -25px;
  transform: translateX(-100%);
}
.anons__swp_next {
  right: -25px;
  transform: translateX(100%);
}
.anons__card .main-img {
  height: 366px;
  margin-bottom: 10px;
}
.anons__card .main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.anons__card h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.anons__card p {
  font-size: 14px;
  font-weight: 400;
  color: #6B7683;
  line-height: 120%;
  margin-bottom: 5px;
}
.anons__card h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.3px;
}
.anons .more-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.gift_certificates {
  padding-top: 200px;
}
@media screen and (max-width: 992px) {
  .gift_certificates {
    padding-top: 135px;
  }
}
.gift_certificates_in {
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 131px;
}
@media screen and (max-width: 993px) {
  .gift_certificates_in {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 30px 0 60px;
  }
}
.gift_certificates_img {
  width: 400px;
  height: 330px;
  border-radius: 5px;
  margin-bottom: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 993px) {
  .gift_certificates_img {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .gift_certificates_img {
    height: 260px;
  }
}
.gift_certificates_text {
  margin: 30px 0 60px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 539px;
}
@media screen and (max-width: 993px) {
  .gift_certificates_text {
    margin: 30px 0;
    max-width: 100%;
    gap: 15px;
  }
}
@media screen and (max-width: 993px) {
  .gift_certificates_right {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
}
.gift_certificates button {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #000;
  background: #C2E6F3;
  padding: 13px 33px;
  border-radius: 10px;
}
@media screen and (max-width: 993px) {
  .gift_certificates button {
    font-size: 12px;
    line-height: 14px;
    margin-top: 15px;
    padding: 10px 27px;
  }
}
.gift_certificates .end_title {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 993px) {
  .gift_certificates .end_title {
    text-align: start;
  }
}
.gift_certificates h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.6px;
  color: #6B7683;
  padding: 3px 10px;
  border: 2px solid #01ABD3;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 30px;
}
@media screen and (max-width: 993px) {
  .gift_certificates h6 {
    padding: 8px 18px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
  }
}
.gift_certificates p,
.gift_certificates address {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #656565;
}
@media screen and (max-width: 993px) {
  .gift_certificates p,
  .gift_certificates address {
    font-size: 12px;
    line-height: 14px;
  }
}
.gift_certificates address {
  margin-top: 15px;
}

.search_results {
  padding-top: 200px;
}
@media screen and (max-width: 992px) {
  .search_results {
    padding-top: 135px;
  }
}
.search_results .search_input {
  margin-top: 40px;
  width: 360px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  height: 35px;
  display: flex;
}
@media screen and (max-width: 993px) {
  .search_results .search_input {
    margin-top: 20px;
    width: 100%;
  }
}
.search_results .search_input input {
  padding: 10px;
  height: 100%;
  width: 100%;
}
.search_results .search_input button {
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 9px;
}
.search_results_text {
  position: relative;
}
.search_results_cards {
  margin: 60px 0 80px 0;
  gap: 60px 96px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1200px) {
  .search_results_cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 20px;
  }
}
@media screen and (max-width: 993px) {
  .search_results_cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0 40px 0;
  }
}
.search_results_card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 993px) {
  .search_results_card {
    gap: 10px;
  }
}
.search_results_card_img {
  position: relative;
}
.search_results_card_img svg {
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;
}
@media screen and (max-width: 993px) {
  .search_results_card_img svg {
    display: flex;
  }
}
.search_results_card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.search_results_card h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  color: #000;
}
@media screen and (max-width: 993px) {
  .search_results_card h6 {
    font-size: 12px;
    line-height: 14px;
  }
}
.search_results_card span {
  font-size: 14px;
  font-weight: 500;
  line-height: 15.4px;
  color: #6B7683;
}
@media screen and (max-width: 993px) {
  .search_results_card span {
    font-size: 8px;
    line-height: 8.8px;
  }
}
.search_results_card h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #000000;
}
@media screen and (max-width: 993px) {
  .search_results_card h5 {
    font-size: 16px;
    line-height: 19.2px;
  }
}
.search_results_card button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #C2E6F3;
  flex-shrink: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 993px) {
  .search_results_card button {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */